# List_remove_append

In [29]:
list2=['SAS', 'R', 'PYTHON', 'SPSS']
list2[3]='SPARK'
print(list2)

['SAS', 'R', 'PYTHON', 'SPARK']

In [28]:
list1=['SAS', 'R', 'PYTHON', 'SPSS']
list1.insert(3,'SPARK')
print(list1)

['SAS', 'R', 'PYTHON', 'SPARK', 'SPSS']

In [145]:
list=['SAS', 'R', 'PYTHON', 'SPSS'] 
x=list.pop(3) 
list.append('SPARK')
print(list)

['SAS', 'R', 'PYTHON', 'SPARK']

# String to List Conversion

In [126]:
input_str = 'I love Data Science & Python'
list(input_str)
print(input_str.split('&'))

['I love Data Science ', ' Python']

# List to String Conversion

In [1]:

my_list=['Pythons syntax is easy to learn', 'Pythons syntax is very  clear']

print(" & ".join(my_list))

Pythons syntax is easy to learn & Pythons syntax is very  clear

# Nested List

In [116]:
list3= [['SAS','R'],['Tableau','SQL'],['Python','Java']]
print(list3[2][0])

Python

# It’s the time to disco

In [24]:
t=("disco",12,14.5)
t[0][2]

's'

# String Palindrome

In [146]:
x="kartiki"
w = " "
for i in x:
    w=i+w
if (x == w):
    print("1")
else:
    print("0")

0

# Reverse Words

In [2]:
my_str ='my name is kartiki'
a=my_str.split()
a
w=list(reversed(a))
print(" ".join(w))

kartiki is name my

# String Formatting

In [3]:
str1 = 'caloRie ConsuMed'
a=str1.lower()
print(a.replace(" ", "_"))

calorie_consumed

In [120]:
 str2 = 'data science'
 print(str2.replace(" ", "_"))

data_science

In [121]:
str3 = 'datascience'
print(str3)

datascience